body {
  /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;*/
  font-family: 'Luminari', serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(252, 250, 249);
  
}


.container{
  max-width: 960px;
  margin: 0 auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  
}

img{
  display: block;
  margin: right;
  width: 560px;
  padding: 0;
}

h1, p {
  text-align: center;
  text-wrap: nowrap;
  color: rgb(71, 59, 82);
  
}

h1{
  font-size: 50px;
  line-height: 0.5;
}

p{
  font-size: 15px;
  line-height: 2;
}


