<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}" />
</head>
<body>
  <div class="container">
      <div class="contents">
        <img src="{{url_for('static', filename='4.jpg')}}" alt="Japanese art">
  
        <div class="text">

          <h1>Dana Archer</h1>
          <p>Hello! My name is Dana :D. I'm a final year Computer Science student at the Universtity of the West Indies. I'm also doing Japanese as a minor.
          <br>初めまして！私の名前はデーナです。絵をかくのが好きです。どうぞよろしくおねがします！
          </p>

        </div>
      



      </div>

    </div>
    
  
</body>
</html>
